{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="panel-footer text-right">
                    <button class="btn btn-info">{{ button_label|default('Enregistrer')}}</button>
             </div>
{{ form_end(form) }}
