
{{ form_start(form) }}
<div class="panel-body">
  
 
    {{ form_widget(form) }}
 
             <div class=" text-center">
                    <button class="btn btn-info">{{ button_label|default('Enregistrer')}}</button>
             </div>
{{ form_end(form) }}


