{% extends 'template.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <a href="{{ path('utilisateur_index') }}">Liste des utilisateurs</a>

    {{ include('utilisateur/_form.html.twig') }}
{% endblock %}
