{% extends 'base.html.twig' %}

{% block title %}Edit Annee{% endblock %}

{% block body %}
    <h1>Edit Annee</h1>

    {{ include('annee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('annee_index') }}">back to list</a>

    {{ include('annee/_delete_form.html.twig') }}
{% endblock %}
