{% extends 'base.html.twig' %}

{% block title %}New Annee{% endblock %}

{% block body %}
    <h1>Create new Annee</h1>

    {{ include('annee/_form.html.twig') }}

    <a href="{{ path('annee_index') }}">back to list</a>
{% endblock %}
