{% extends 'template.html.twig' %}
{% block title %}

<title> Salles | Ajout</title> 
{% endblock %}
{% block hearder %}
<div class="pageheader">
    <h3>
        <i class="fa fa-home"></i>Accueil
    </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">vous êtes ici:</span>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    Accueil
                </a>
            </li>
            <li class="active">
                Enregistrer une salle
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block body %}
   <div class="col-sm-6 eq-box-sm">
    {% if message is not defined %}
   {% else %}

   <div class="btn btn-danger">
{{message}}
</div>
{% endif %}
<br>
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <a class="btn btn-info" href="{{ path('salle_index') }}" title="Retour à la liste"><i class="fa fa-chevron-left"></i></a>
                                           
                                        </div>
                                        <h3 class="panel-title">Ajouter une salle</h3>
                                    </div>
    {{ include('salle/_form.html.twig') }}

{% endblock %}
