{% extends 'template.html.twig' %}
{% block title %}
<title> Classe | Ajout</title>   
{% endblock %}

{% block body %}
   <div class="col-sm-6 eq-box-sm" style="text-align: center">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <a class="btn btn-default" href="{{ path('eleve_index') }}" title="Retour à la liste"><i class="fa fa-chevron-left"></i></a>
                                           
                                        </div>
                                        <h3 class="panel-title">Ajouter un élève</h3>
                                    </div>

             <form action="{{path('inscription')}}" method="GET">
             <input type="number" name="montant">
             <input type="hidden" name="id" value="{{ id }}">
             <button type="submit">Inscrire</button>
             </form>
     </div>
      </div>

{% endblock %}
