{% extends 'template.html.twig' %}
{% block title %}
<title> Eleve | inscription</title>   
{% endblock %}
{% block hearder %}
<div class="pageheader">
                        <h3><i class="fa fa-home"></i>Accueil </h3>
                        <div class="breadcrumb-wrapper">
                            <span class="label">vous êtes ici:</span>
                            <ol class="breadcrumb">
                                <li> <a href="#"> Accueil </a> </li>
                                <li class="active"> Inscrire un élève </li>
                            </ol>
                        </div>
                    </div>
			{% endblock %}

{% block body %}
<div id="page-content">
   <div class="col-sm-6 eq-box-sm" style="text-align: center">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <a class="btn btn-default" href="{{ path('eleve_index') }}" title="Retour à la liste"><i class="fa fa-chevron-left"></i></a>
                                           
                                        </div>
                                        <h3 class="panel-title">Inscrire un élève</h3>
                                    </div>

            <form action="{{path('inscription')}}" method="GET">
             <div class="panel-body">
             <div class="form-group">
                     <label class="col-sm-3 control-label" >Montant</label>
                    <div class="col-sm-9">
                    <input type="number" placeholder="Entrez un montant"  class="form-control" required>
                     </div>
            </div>
            <input type="hidden" name="id" value="{{ id }}">
             </div>
             <div class="panel-footer text-right">
                    <button type="submit" class="btn btn-info">Inscrire</button>
             </div>
             
             </form>
      </div>

{% endblock %}
