{% extends 'template.html.twig' %}
{% block title %}
 Accessoires | Ajout   
{% endblock %}
{% block hearder %}
<div class="pageheader">
    <h3>
        <i class="fa fa-home"></i>Accueil
    </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">vous êtes ici:</span>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    Accueil
                </a>
            </li>
            <li class="active">
                Achat accessoire
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block body %}
    <div class="col-sm-6 eq-box-sm">
    {% for message in app.flashes('success') %}
        <div class="btn btn-success">
        {{message}}
        </div>
    {% endfor %}
    <br>
    <div class="panel-heading">
        <div class="panel-control">
            <a class="btn btn-info" href="{{ path('accessoire_index') }}" title="Retour à la liste"><i class="fa fa-chevron-left"></i></a>
            
        </div>
        <h3 class="panel-title">Effectuer un achat d'accessoire</h3>
    </div>

    {{ include('acheter/_form.html.twig') }}
{% endblock %}
